@import url(/Fonts.css);

body{
    background:#E8E8E8;
    width: 100vw;
    margin: 0%;
}


.variabella {
    font-family: 'Outfit';
    font-size: clamp(8rem, 10vw, 13.8rem);
    position: absolute;
    margin: 0%;
    padding: 0%;
}

.varia {
    top: 35%;
    left: 24.8%;
}

.bella {
    top: 35%;
    left: 54.4%;
}

.la{
    opacity: 0;
    margin: -4.7%;
}
